# General
node_modules
.DS_STORE

# Coverage
coverage.json
coverage

# ETH-SDK
eth-sdk/abis

# Hardhat files
cache
artifacts
typechained
deployments/hardhat
deployments/localhost
deployments/sepoliaDummy
deployments/sepolia
deployments/optimisticSepolia
deployments/**/solcInputs

# Config files
.env
tenderly.yaml

# Not ignore gitkeep
!/**/.gitkeep
